:root {
  --carolina-blue: #39a0ed;
  --white: #fff;
  --orange-red: #f86624;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--white);
  color: black;
}
